server.port=****

spring.jwt.secret= c3ByaW5nLWJvb3Qtc2VjdXJpdHktand0LXR1dG9yaWFsLWppd29vbi1zcHJpbmctYm9vdC1zZWN1cml0eS1qd3QtdHV0b3JpYWwK

# DB
spring.datasource.url=jdbc:mariadb://******:******/******
spring.datasource.username=******
spring.datasource.password=******
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver