<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{fragments/login}">

<th:block layout:fragment="script">
	<script type="text/javascript">
		function loginActive(){
			console.log("로그인버튼 클릭!");
		}
	</script>
</th:block>

<div layout:fragment="content" class="login-wrap">

	<div>
		<input type="text" id="userid" name="userid" placeholder="아이디" required >
		<input type="password" id="password" name="password" placeholder="비밀번호" required>
		<input class="login__btn" type="button" value="로그인" onclick="loginActive()" />
	</div>

</div>

</html>